button {
    padding: 0.5em;
    border: none;
    margin-right: 0.5em;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add {
    background-color: green;
    color: white;
  }
  
  .btn-save {
    background-color: blue;
    color: white;
  }

  button.edit{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  button.delete {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.add:hover {
    background-color: #3e8e41;
  }

  button.edit:hover {
    background-color: #3e8e41;
  }

  button.delete:hover {
    background-color: rgb(189, 64, 64);
  }